/** 字体大小 */
$font-size-14:14px;
$font-size-16:16px;
$font-size-18:18px;
$font-size-20:20px;
$font-size-22:22px;
$font-size-24:24px;
$font-size-26:26px;
$font-size-28:28px;
$font-size-30:30px;
$font-size-32:32px;

/** 字体颜色 */
$text-color : #1f2329;  // 主字体颜色


/** 背景颜色 */
// $bg-color-primary: #f2f3f5; 
$bg-color-primary: #ffffff; 



/** 圆角大小 */
$border-radius-sm:4px;
$border-radius-circle:50%;

/** 内边距 */
$padding32:32px 32px  32px 32px
